/* Reset de alguns estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Roboto', sans-serif; /* ou qualquer outra fonte de sua preferência */
    background-color: #f4f6f8;
  }
  
  /* Estilos para o nav */
  nav {
    background-color: #212529;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    display: inline;
  }
  
  /* Estilos para os links */
  nav ul li a {
    text-decoration: none;
    color: #f8f9fa;
    padding: 10px;
    transition: all 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #28a745;
    color: #f8f9fa;
    border-radius: 4px;
  }
  
  /* Estilos para o outlet */
  Outlet {
    margin: 20px;
  }
  