@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}
.custom-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#744ec2, #5636a1);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  height: 50px;
  width: 100px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
  width: 100%;
}

.custom-button:hover:enabled {
  background: linear-gradient(#5636a1, #3e2378);
}

.custom-button:disabled {
  background: linear-gradient(
    #b8b2c8,
    #9a90b2
  ); /* tonalidades de cinza derivadas das cores originais */
  color: #f1f1f1; /* cor do texto também deve ser mais clara para indicar que o botão está desabilitado */
  cursor: not-allowed;
}

.custom-link-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#744ec2, #5636a1);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 16px;
  height: 30px;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.custom-link-button:hover {
  background: linear-gradient(#5636a1, #3e2378);
}

.update-button {
  margin-top: 20px; /* Ajuste esse valor conforme necessário */
}

.back-button {
  margin-top: 10px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 15px;
}

.back-button:hover {
  color: #5636a1;
}

/* Header.css */
header {
  padding: 10px 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  align-items: center;
}

.logo-container {
  margin-right: auto; /* Alinha o logo à esquerda */
  height: 40;
}

.logo-image {
  height: 35px; /* Defina a largura desejada */
}

.nav-links {
  display: flex;
  justify-content: center; /* Centraliza os links horizontalmente */
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px; /* Adicione um espaçamento entre os links */
  display: flex;
  align-items: center; /* This ensures the circle and logout link are aligned vertically */
}

.nav-links a.active {
  font-weight: bold;
  text-decoration: underline;
}

.avatar {
  text-decoration: none;
  margin-right: 10px; /* Add some space between the circle and the logout link */
}

.avatar-container {
  background-color: grey;
  border-radius: 50%;
  width: 40px; /* Decrease the size of the circle */
  height: 40px; /* Decrease the size of the circle */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* EventList.css */
.event-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 60%;
  margin: 0 auto;
}

.event-link {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.event-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-date {
  display: flex;
  align-items: center;
  color: red;
  margin-bottom: 2px;
}

.date-icon {
  margin-right: 5px;
}

.event-card h4 {
  font-size: 22px;
  margin: 3px 0;
}

.event-location {
  font-size: 14px;
  color: #333;
  margin: 0px 0;
  font-weight: 300;
}

.event-price {
  align-self: flex-end;
  font-size: 24px;
  font-weight: bold;
  margin-top: 5px;
}

.event-card:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

/* TicketList.css */
.small-text {
  font-size: 0.75rem; /* ou qualquer tamanho que você preferir */
}

.ticket-list {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.ticket-card {
  display: flex;
  align-items: center;
  border: 1px solid #333;
  margin-bottom: 10px;
  padding: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: inherit;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  justify-content: space-between;
}

.ticket-card h3 {
  /* font-size: 1.2em; */
  margin: 5px; /* Remove a margem */
}

.ticket-card h5 {
  /* font-size: 1em;  */
  margin: 5px; /* Remove a margem */
}

.ticket-card small {
  font-size: 0.8em;
  margin: 5px; /* Remove a margem */
  color: #777;
}

.sell-tickets,
.buy-tickets {
  width: 45%;
  padding: 0 5px;
}

.sell-tickets h2,
.buy-tickets h2 {
  text-align: center;
  margin-bottom: 10px;
}

.separator {
  width: 0.1%;
  border-left: 1px solid #333;
  height: 100vh;
}

.ticket-card:hover {
  background-color: #f1f1f1; /* Cor de fundo ao passar o mouse */
}

.create-ticket {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* Modal */
.ReactModal__Content {
  outline: none;
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  padding: 50px;
  z-index: 1000;
  width: 80%;
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.ticket-card Link,
.ticket-card a {
  text-decoration: none;
  color: inherit;
}

button {
  text-decoration: none;
}

/* EventDetail.css */

.event-detail-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #edeef1;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 5px;
}

.event-detail-card h2 {
  font-size: 32px;
  margin-bottom: 10px;
  margin-top: 5px;
  text-align: center;
}

.event-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px; /* Espaçamento de 20 pixels entre os itens */
  margin-top: 3px;
  margin-bottom: 10px;
}

.event-details div {
  font-size: 18px;
}

.ticket-link {
  color: #161616;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.ticket-link:hover {
  background-color: #ddd;
}

/* Search Container.css */
.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-bar {
  display: flex;
  align-items: center;
  width: calc(60% - 26px); /* Subtraia o tamanho do ícone da lupa */
  margin-top: 20px;
  border-radius: 20px; /* Aumente o valor do border-radius */
  border: 2px solid #ccc;
  position: relative;
}

.search-input {
  width: 90%;
  height: 40px;
  padding-left: 26px;
  padding-right: 10px; /* Adicione um preenchimento à direita */
  border: none;
  font-size: 16px;
  outline: none;
  margin-left: 24px;
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}

/* Home.css */
.create-event-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.create-event-text {
  color: #777;
  margin-bottom: 10px;
}

/* EventCreate.css */
.event-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.event-create-container h2 {
  margin-bottom: 10px;
}

.event-create-container form {
  display: flex;
  flex-direction: column;
}

.event-create-container form div {
  margin-bottom: 10px;
}

.event-create-container label {
  margin-right: 10px;
}

.event-create-container input {
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Login.css */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 27px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: 'Inter', sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
  margin-bottom: 10px;
}

.red {
  color: #cc0000;
}

/* EventCreate.css */

.event-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* centraliza o contêiner */
  max-width: 500px; /* altera a largura máxima do contêiner */
  box-sizing: border-box; /* inclui padding e border na largura total do elemento */
}

.event-create-container h2 {
  text-align: center;
  color: #000000;
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.event-create-container form {
  display: flex;
  flex-direction: column;
  width: 100%; /* define a largura do form para o contêiner */
  box-sizing: border-box; /* considera padding e border no tamanho total */
}

.event-create-container input[type='text'],
.event-create-container input[type='datetime-local'],
.event-create-container button {
  margin: 5px 0;
  padding: 10px 0px;
  border: none;
  border-radius: 5px;
  width: 100%; /* Ajuste a largura dos campos de input */
}

.event-create-container input[type='text'],
.event-create-container input[type='datetime-local'] {
  background-color: #f8f8f8;
  color: #333;
  padding-left: 10px; /* Ajuste esse valor conforme necessário */
  box-sizing: border-box; /* Adiciona padding e border na largura total */
}

/* TicketCreate.css */

.ticket-create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto; /* centraliza o contêiner */
  max-width: 500px; /* altera a largura máxima do contêiner */
  box-sizing: border-box; /* inclui padding e border na largura total do elemento */
}

.ticket-create-container h1 {
  margin-bottom: 20px;
  font-size: 42px;
}

.ticket-create-container .ticket-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adiciona espaço entre o formulário e o botão */
}

.ticket-create-container .ticket-form div {
  margin-bottom: 10px;
  width: 100%;
}

.ticket-create-container label {
  margin-right: 10px;
}

.ticket-create-container input,
.ticket-create-container select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px; /* Ajuste esse valor conforme necessário */
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 15px; /* Adiciona espaço entre os elementos do formulário */
}

/* Register.css */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px;
}

.register-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.register-form .input-group {
  display: flex;
  justify-content: space-between;
}

.register-form .input-group input {
  width: 48%; /* para os inputs se alinharem corretamente */
}

.register-form input {
  background-color: #f2f2f2; /* cinza claro */
  margin-bottom: 10px; /* espaçamento entre os campos */
  border: 1px solid #ddd;
  height: 40px;
  text-indent: 10px;
  font-weight: 400;
}

.register-form input:focus {
  outline: none;
}

.register-form button {
  margin-top: 10px;
}

.login-separator {
  border: 0;
  border-top: 1px solid #eee;
  margin: 20px 0;
}

.register-button {
  display: block;
  width: 45%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  background: linear-gradient(rgb(3, 182, 3), rgb(1, 133, 1));
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.register-button:hover {
  background: linear-gradient(rgb(1, 133, 1), rgb(0, 97, 0));
}

/* TicketDetail.css */
.ticket-detail-container {
  width: 60%;
  margin: auto;
  margin-top: 25px;
  box-sizing: border-box;
}

.ticket-detail-content-top,
.ticket-detail-content-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5%;
  padding: 30px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
}

.ticket-price {
  font-size: 3em;
  text-align: left;
  margin-left: 10px;
}

.message-box {
  box-sizing: border-box;
  font-size: 1.3em;
  margin-right: 30px;
}

.message-header {
  background-color: #800080; /* Cor roxa */
  color: #fff;
  padding: 5px;
  border-radius: 5%;
  text-align: center;
  font-weight: bold;
}

.message-content {
  color: #000000;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.user-info-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.user-name-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-initials {
  margin-left: 10px;
  background-color: #800080; /* Cor roxa */
  color: #fff;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.user-name {
  font-size: 1.5em;
}

.user-date,
.ticket-status {
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0px;
  margin-left: 10px;
  color: #666;
  font-size: 0.8em;
}

.user-role {
  color: #666;
  font-size: 0.8em;
  margin-bottom: 10px;
  /* margin-left: 10px; */
  /* text-align: center; */
}
